TELEGRAM_BOT_TOKEN=8671311817:AAHIe4dd3-T94rNB4gy1XrART31xYV09gbY

VK_CLIENT_ID=05rnokolkygcx4of
VK_CLIENT_SECRET=JDnwv9XfdhtCeNi7D7BX5Qsr1Mhl2TGrpNfbfco5AdXPH64M43baKNUiNAUZLqLE

WEBHOOK_URL=https://your-app.up.railway.app/webhook
WEBHOOK_SECRET=vk_live_bot